.card__delete {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    background: url(../../../images/delete.svg);
    width: 18px;
    height: 19px;
    padding: 0;
    position: absolute;
    top: 20px;
    right: 20px;
}

.card__delete:hover {
    opacity: 0.6;
    cursor: pointer;
}