.popup__input {
    border: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-right: 22px;
    margin-left: 22px;
}

@media screen and (min-width: 1024px) {
    .popup__input {
        margin-right: 36px;
        margin-left: 36px;
    }
    
}