.popup__button {
    height: 46px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    border: none;
    color: #FFFFFF;
    background: #000000;
    border-radius: 2px;
    padding: 0;
    margin-top: 45px;
}

.popup__button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (min-width: 1024px) {
    .popup__button {
        height: 50px;
        font-size: 18px;
        line-height: 22px;
        margin-top: 48.34px;
    }
}