.profiles {
    margin: 42px 19px 36px 19px;
    max-width: 88.125%;
    max-height: 37.5%;
}

@media screen and (min-width: 321px) {
    .profiles {
        margin-left: auto;
        margin-right: auto;
    }
    
}

@media screen and (min-width: 1280px) {
    .profiles {
        max-width: 68.75%;
        max-height: 9.37%;
    }
    
}
