.popup__close {
    width: 30px;
    height: 30px;
    background: transparent;
    background-image: url(../../../images/CloseIcon.svg);
    background-size: cover;
    border: none;
    position: absolute;
    top: -35px;
    right: 5px;
    padding: 0;
}

.popup__close:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (min-width: 1024px) {
    .popup__close {
        width: 58px;
        height: 58px;
        top: -48.28px;
        right: -48.28px;
    }
}