.profile__button {
    width: 282px;
    height: 50px;
    margin-top: 36px;
}

 @media screen and (min-width: 1280px) { 
    .profile__button  {
        margin: 0;
       position: absolute;
       top: 35px;
       bottom: 35px;
       right: 0;
       left: 730px;
       width: 150px;
    }
} 
