.profile__info-description {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1em;
    text-align: center;
    margin: 0;
    grid-column-start: 1;
    grid-row-start: 2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 190px;
}

@media screen and (min-width: 1280px) {
    .profile__info-description {
        font-size: 18px;
        line-height: 22px;
        text-align: left;
        width: 350px;
    }
}